<% @title = "Create a Kitty" %>
<div>
  <%= image_tag 'primary_logo_and_text.png', style: 'height:auto;width:100%;' %>
  <h4 class="welcome-text nunito">Splitting money <br> made simple</h4>
</div>
<div class="container no-top-marg text-left">
  <h3 class="lato heavy"><strong>How it works:</strong></h3>
  <div class="line-spaced"><p class="less-pad">Name Your Kitty</p></div>
    <% @group.name = nil %>
    <%= simple_form_for [:extension, @group] do |f| %>
      <div class="r-l-pad"><%= f.input :name, :maxlength => "18", :label => false, :required => true, :placeholder => "i.e. #{@user.first_name} and friends' Kitty", :class => "lato name-input form-control" %></div>
  <div class="line-spaced"><p class="less-pad">Easily track shared expenses </p></div>
  <div class="line-spaced"><p class="less-pad">Let Kitty simplify the repayments</p></div>
  <div class="line-spaced"><p class="less-pad">Automatically tell others when you repay!</p></div>
</div>
<!-- <div class="mini-margin">
    <h6 class="heavy">Name your kitty:</h6>
</div> -->
  <%= f.input :user_id, as: :hidden, input_html: { value: @user.id } %>
  <%= f.input :group_id, as: :hidden, input_html: { value: @group.id } %>
  <button class="send-btn lato eighteen heavy"><div class="send-inner"><img src="https://png.icons8.com/paper-plane/ios11/30/ffffff" class="paper-plane" >Setup Your Group Kitty</div></button>
<% end %>

<!-- JAVASCRIPT FOR THE BUTTON TO SEND TO GROUP, TURN KITTY_CREATED=TRUE AND REDIRECT -->
<% content_for(:after_js) do %>
  <script>
    // console.log("<%= @user.first_name %>");
    document.querySelector(".send-btn").addEventListener("click", () => {
      console.log("<%= @user.first_name %>");
      let message = {
                    "attachment":{
                      "type":"template",
                      "payload":{
                        "template_type":"generic",
                        "elements": [{
                          "title":"<%= @user.first_name %> just started a Kitty for this group!",
                          "subtitle": "Kitty: Money Sharing Made Simple",
                          "default_action":{
                            "type":"web_url",
                            "url": "https://kittymoneysplitting.herokuapp.com/"
                          },
                          "buttons":[{
                            "type":"web_url",
                            "url":"<%= ENV['NGROK'] %>/extension/welcome/",
                            "title":"Check Out Kitty",
                            "messenger_extensions": true
                          }]
                        }]
                      }
                    }
                  };

      MessengerExtensions.beginShareFlow(function(share_response) {
        // User dismissed without error, but did they share the message?
        if(share_response.is_sent){
          // The user actually did share.
          // Perhaps close the window w/ requestCloseBrowser().
          <% @group.kitty_created = true %>
          <% @group.save %>
          // window.location.href="/extension/groups/<%= @group.id %>?user_id=<%= @user.id %>&group_id=<%= @group.id %>"
        }
      },
      function(errorCode, errorMessage) {
      // An error occurred in the process

      },
      message,
      "current_thread");
          });

  </script>
<% end %>

