<div>
  <%= image_tag 'Logo.png', style: 'height:auto;width:100%;' %>
  <h4 class="welcome-text nunito">Splitting money <br> made simple</h4>
</div>
<div class="container no-top-marg">
  <h3 class="lato heavy"><strong>How Kitty works:</strong></h3>
  <div class="line-spaced"><p class="less-pad">Setup Kitty in any group chat</p></div>
  <div class="line-spaced"><p class="less-pad">Easily track shared expenses with any members of the group</p></div>
  <div class="line-spaced"><p class="less-pad">Let Kitty simplify the repayments</p></div>
  <div class="line-spaced"><p class="less-pad">Automatically let people know when you repay!</p></div>
</div>
<div class="central mini-margin">
    <h6 class="heavy">Name your kitty:</h6>
</div>
<div class="central">
  <input type="text" placeholder="i.e. <%= @user.first_name %> and friends' Kitty" class="lato name-input form-control">
</div>
<div class="spacer"></div>
<button class="send-btn"><div class="send-inner"><img src="https://png.icons8.com/paper-plane/ios11/30/ffffff" class="paper-plane" >Setup Your Group Kitty</div></button>

<% content_for(:after_js) do %>
  <script>
    console.log("<%= @user.first_name %>");
    document.querySelector(".send-btn").addEventListener("click", () => {
      console.log("<%= @user.first_name %>");
      let message = {
                    "attachment":{
                      "type":"template",
                      "payload":{
                        "template_type":"generic",
                        "elements": [{
                          "title":"<%= @user.first_name %> just started a Kitty for this group!",
                          "subtitle": "Kitty: Money Sharing Made Simple",
                          "default_action":{
                            "type":"web_url",
                            "url": "https://kittymoneysplitting.herokuapp.com/"
                          },
                          "buttons":[{
                            "type":"web_url",
                            "url":"https://f5aa87a1.ngrok.io/extension/groups/<%= @group.id %>?user_id=<%= @user.id %>",
                            "title":"Check Out Kitty"
                          }]
                        }]
                      }
                    }
                  };

      MessengerExtensions.beginShareFlow(function(share_response) {
        // User dismissed without error, but did they share the message?
        if(share_response.is_sent){
          // The user actually did share.
          // Perhaps close the window w/ requestCloseBrowser().
          <% @group.kitty_created = true %>
          <% @group.save %>
          window.location.href="/extension/groups/<%= @group.id %>?user_id=<%= @user.id %>&group_id=<%= @group.id %>"
        }
      },
      function(errorCode, errorMessage) {
      // An error occurred in the process

      },
      message,
      "current_thread");
          });

  </script>
<% end %>
