
<% @title = "#{@user.first_name} #{@user.last_name}" %>

<!-- TAB BAR -->

<div class="tab">
  <button class="tablinks lato heavy white" id="groupstab" onclick="openCity(event, 'Groups')">Groups</button>
  <button class="tablinks lato heavy white" onclick="openCity(event, 'Expenses')">Expenses</button>
  <button class="tablinks lato heavy white" onclick="openCity(event, 'Settles')">Settles</button>
</div>

<!-- GROUPS BODY -->

<div id="Groups" class="tabcontent">
  <% @user.groups.each do |g| %>
    <%= link_to extension_group_path(user_id: @user.id, group_id: g.id) do %>
      <div class="group">
        <div class="grouptext">
          <h5 class="lato heavy"><%= g.name %></h5>
          <h6 class="lato">Since <%= g.created_at.strftime("%b %d, %Y") %></h6>
        </div>
        <div class="groupimages">
          <div class="row">
            <div class="col-sx-1">
              <% if g.users.count <= 4 %>
                <% g.users.each do |user| %>
                  <% if user == @user %>
                  <% else %>
                    <div>
                      <%= image_tag user.profile_picture_url, class: "avatar-list" %>
                    </div>
                  <% end %>
                <% end %>
              <% else %>
                <% g.users.first(4).each do |user| %>
                  <% if user == @user %>
                  <% else %>
                    <div>
                      <%= image_tag user.profile_picture_url, class: "avatar-list" %>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<!-- EXPENSES BODY -->

<div id="Expenses" class="tabcontent">
  <h4 class="text-center">Times you've paid:</h4>
  <% expenses = Expense.where(:user_id == @user && :description != Settled) %>
  <% expenses.each do |expense| %>
    <div class="group">
      <div class="grouptext">
        <h5 class="lato heavy"><%= expense.title %></h5>
        <h5><%= expense.id %></h5>
        <h5><%= expense.description %></h5>
      </div>
    </div>
  <% end %>
</div>

<!-- SETTLES BODY -->

<div id="Settles" class="tabcontent">
  <h4 class="text-center">Times you've settled</h4>
  <% settles = Expense.where(:user_id == @user && :description == "Settled") %>
  <% settles.each do |settle| %>
    <div class="group">
      <div class="grouptext">
        <% expense = Expense.where(:title == settle.location) %>
        <h3>settled amount<%= settle.amount_cents %></h3>
        <h3>other amountpe <%= settle.location %>  </h3>
      </div>
    </div>
  <% end %>
</div>

<!-- Script that controls tab activation -->

<script>
  const groups = document.getElementById("Groups");
  groups.style.display = "block";
  const groupstab = document.getElementById("groupstab")
  groupstab.className += " active";
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>



