<% @title = "#{@user.first_name} #{@user.last_name}" %>

<div class="blue-back">
  <h4 class="lato white heavy">Howdy <%= @user.first_name.capitalize %>!</h4>
</div>

<div class="mobile-container text-left">
  <h3 class="lato heavy">Your Groups</h3>
</div>

<div class="mobile-container">
  <div class="group-content-container">
    <div class="group-content">
      <% @user.groups.each do |g| %>
      <div class="group-card">
        <div class="group-dynamic-data">
          <div class="column">
            <div class="group-name-time column-item">
              <span id="group-name">
                <%= g.name.capitalize %>
              </span>
              <p id="group-creation-time">
                <%= g.created_at.strftime("%b %d, %Y") %>
              </p>
            </div>
            <div class="row">
              <% if g.users.count <= 8 %>
              <% g.users.each do |user| %>
                <div class="col-xs-3" id="group-member-img">
                <%= image_tag user.profile_picture_url || "avatar_icon2.svg", size: "60x60", class: "user-img avatar-show" %>
                </div>
              <% end %>
            <% else %>
              <% g.users.first(7).each do |user| %>
                <div class="col-xs-3" id="group-member-img">
                <%= image_tag user.profile_picture_url || "avatar_icon2.svg", size: "60x60", class: "user-img avatar-show" %>
                </div>
              <% end %>
                <div class="col-xs-3" id="group-member-img">
                  <h3><i class="fa fa-plus-circle" aria-hidden="true"></i></h3>
                </div>
              <% end %>
              <%= link_to extension_group_path(user_id: @user.id, group_id: g.id) do %>
            </div>
          </div>
        </div>
        <div class="button-placement">
          <button class="send-btn inverted-img"><div class="send-inner"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Magnifying_glass_icon.svg/490px-Magnifying_glass_icon.svg.png" class="mag-glass" height="24" width="24"><div id="mag-glass-spacer"></div><span id="mag-glass-font">Go to group</span></div></button>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="user-content-container">
    <div class="user-content">

    </div>
  </div>

</div>
