<% @title = "#{@user.first_name} #{@user.last_name}" %>
<h1>Howdy <%= @user.first_name.capitalize %>! These are your groups:</h1>
<div class="group-content-container">
  <div class="group-content">
    <% @user.groups.each do |g| %>
    <div class="name-section">
        <div class="static">
          Group name:
          <br>
          Participants:
          <br>
          Group started:
        </div>
        <div class="dynamic">
           <%= g.name.capitalize %>
           <br>
           <%= g.users.count %>
           <br>
           <%= g.created_at.strftime("%b %d, %Y") %>
        </div>
        <di class="group-profile-pictures">

        </div>
    <%= link_to extension_group_path(user_id: @user.id, group_id: @g.id) do %>
        <button class="send-btn inverted-img"><div class="send-inner"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Magnifying_glass_icon.svg/490px-Magnifying_glass_icon.svg.png" class="mag-glass" height="32" width="32">Go to group</div></button>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<div class="user-content-container">
  <div class="user-content">

  </div>
</div>
