
<% @title = "#{@user.first_name} #{@user.last_name}" %>

<!-- TAB BAR -->

<div class="tab">
  <button class="tablinks lato heavy white" id="groupstab" onclick="openCity(event, 'Groups')">Groups</button>
  <button class="tablinks lato heavy white" onclick="openCity(event, 'Expenses')">Paid</button>
  <button class="tablinks lato heavy white" onclick="openCity(event, 'Received')">Received</button>
</div>

<!-- GROUPS BODY -->

<div id="Groups" class="tabcontent">
  <% @user.groups.each do |g| %>
    <%= link_to extension_group_path(user_id: @user.id, group_id: g.id) do %>
      <div class="group">
        <div class="grouptext">
          <h5 class="lato heavy"><%= g.name %></h5>
          <p class="lato">Since <%= g.created_at.strftime("%b %d, %Y") %></p>
          <% g.memberships.each do |member| %>
            <% if @user.outstanding_with_person_in_group(member, g) == 0 %>

            <% elsif @user.outstanding_with_person_in_group(member, g) < 0 %>
              <h5 class="lato heavy">You owe: <span style="color:red"> £<%= sprintf("%.2f", @user.outstanding_with_person_in_group(member, g).to_f * -1 / 100) %></span></h5>
            <% else %>
              <% ower = User.find(member.user_id) %>
              <h5 class="lato heavy"><%= ower.first_name %> owes you: <span style="color:green">£<%= sprintf("%.2f", @user.outstanding_with_person_in_group(member, g).to_f / 100) %></span></h5>
            <% end %>
          <% end %>
        </div>
        <div class="groupimages">
          <div class="row">
            <div class="col-sx-1">
              <% if g.users.count <= 4 %>
                <% g.users.each do |user| %>
                  <% if user == @user %>
                  <% else %>
                    <div>
                      <%= image_tag user.profile_picture_url, class: "avatar-list" %>
                    </div>
                  <% end %>
                <% end %>
              <% else %>
                <% g.users.first(4).each do |user| %>
                  <% if user == @user %>
                  <% else %>
                    <div>
                      <%= image_tag user.profile_picture_url, class: "avatar-list" %>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<!-- PAID BODY -->

<div id="Expenses" class="tabcontent">
  <% expenses = Expense.where(:user_id == @user) %>
  <% expenses.each do |expense| %>
    <%= link_to extension_expense_path(expense, user_id: @user, group_id: expense) do %>
      <div class="group">
        <% if /(settled with)+/.match(expense.title) %>
          <%payeename = expense.title.split.last %>
          <div class="grouptext">
            <h5 class="lato heavy">You paid <%= expense.title.split.last %> back</h5>
            <p class="lato"><%= expense.created_at.strftime("%b %d, %Y") %></p>
            <h5><%= expense.location %></h5>
            <h5 class="lato heavy red">£ <%= expense.amount_cents/100 %></h5>
          </div>
          <% payee = User.find_by first_name: payeename %>
          <div class="groupimages">
            <div class="row">
              <div class="col-sx-1">
                <div>
                  <%= image_tag payee.profile_picture_url, class: "avatar-list" %>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <div class="grouptext">
            <h5 class="lato heavy">You paid for <%= expense.title %></h5>
            <p class="lato"><%= expense.created_at.strftime("%b %d, %Y") %></p>
            <h5 class="lato heavy red">£ <%= expense.amount_cents/100 %></h5>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<!-- RECEIVED BODY BODY -->

<div id="Received" class="tabcontent">
</div>

<!-- Script that controls tab activation -->

<script>
  const groups = document.getElementById("Groups");
  groups.style.display = "block";
  const groupstab = document.getElementById("groupstab")
  groupstab.className += " active";
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>



