<% if @group.name %>
  <% @title = @group.name %>
<% else %>
  <% @title = "Your Kitty" %>
<% end %>

<% if @group.users.length == 1 && @group.users[0] == @user %>

  <div class="blue-back flex">
    <h4 class="lato white heavy"> <%= @group.name %> </h4>
    <div class="navbar-profile-pic">
      <%= link_to extension_user_path(@user) do %>
        <%= image_tag @user.profile_picture_url, class: "avatar-navbar" %>
      <% end %>
    </div>
  </div>
  <div class="mobile-container">
    <h3 class="lato heavy">No one else has joined the group chat yet...</h3>
  </div>

<% else %>

<div class="blue-back flex">
  <div class="navbar-content text-left">
    <% if @user_outstanding_with_group.to_f == 0 %>
      <h4 class="lato white heavy">You're all square  <i class="fa fa-thumbs-up" aria-hidden="true"></i></h4>
    <% elsif @user_outstanding_with_group.to_f < 0 %>
      <h4 class="lato white heavy">Overall, you owe: £<%=sprintf("%.2f", @user_outstanding_with_group.to_f * -1 / 100) %></h4>
    <% else %>
      <h4 class="lato white heavy">Overall, you are owed: £<%=sprintf("%.2f", @user_outstanding_with_group.to_f / 100) %></h4>
    <% end %>
  </div>
  <div class="navbar-profile-pic">
    <%= link_to extension_user_path(@user) do %>
      <%= image_tag @user.profile_picture_url, class: "avatar-navbar" %>
    <% end %>
  </div>
</div>

  <div class="mobile-container">
    <div class="title-section">
      <h3 class="lato heavy">Members</h3>
      <%# link_to "#", class: "fb-blue" do %>
        <!-- Settle All <img src="https://png.icons8.com/paper-plane/ios11/30/0084FF" class="paper-plane" > -->
      <%# end %>
    </div>
  </div>

  <% @group.users.each do |member| %>

    <% if member == @user %>
      <% next %>
    <% end %>

    <div class="list-item-tall">
      <div class="profile-img-container">
        <%= image_tag member.profile_picture_url, class: "avatar-list" %>
      </div>
      <div class="divider">
        <div class="list-item-divider-content">
          <p class="list-item-text"><strong><%= member.first_name %> <%= member.last_name %></strong></p>
          <!-- need to add some owes/owed logic into this if statement later-->
          <% if @user.outstanding_with_person_in_group(member, @group) == 0 %>
            <p class="list-item-text" >You're all square</p>
          <% elsif @user.outstanding_with_person_in_group(member, @group) < 0 %>
            <p class="list-item-text" >You owe: <span style="color:red"> £<%= sprintf("%.2f", @user.outstanding_with_person_in_group(member, @group).to_f * -1 / 100) %></span></p>
          <% else %>
            <p class="list-item-text">Owes you: <span style="color:green">£<%= sprintf("%.2f", @user.outstanding_with_person_in_group(member, @group).to_f / 100) %></span></p>
          <% end %>
        </div>

        <% if @user.outstanding_with_person_in_group(member, @group) < 0 %>
          <div class="list-item-settle-btn">
            <%= link_to extension_settle_path(user_id: @user.id, group_id: @group.id, to_pay_id: member.id) do %>
              <button class="settle-btn"><div class="settle-inner send-inner">Settle <img src="https://png.icons8.com/paper-plane/ios11/22/ffffff"></div></button>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @group.expenses.empty? %>

    <div class="mobile-container">
      <div class="title-section">
        <h3 class="lato heavy">No Expenses Yet</h3>
      </div>
    </div>

  <% else %>

    <div class="mobile-container">
      <div class="title-section">
        <h3 class="lato heavy">Recent Expenses</h3>
      </div>
    </div>
    <% @group.expenses.reverse.first(10).each do |expense| %>
      <%= link_to extension_expense_path(expense, user_id: @user.id, group_id: @group.id) do %>
        <div class="list-item-short">
          <div class="divider">
            <div class="list-item-divider-content .align-baseline">
              <p class="list-item-text" ><%= expense.title %></p>
            </div>
            <div class="list-item-arrow-btn .align-baseline">
                <p class="list-item-text" ><i class="fa fa-arrow-right" aria-hidden="true"></i></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

  <% end %>

    <div class="fixed-btn-section">
      <%= link_to new_extension_expense_path(user_id: @user.id, group_id: @group.id) do %>
        <button class="send-btn lato eighteen heavy"><div class="send-inner">Pay for something</div></button>
      <% end %>
    </div>

<% end %>

<div class="button-spacer"></div>


<% if @group.users.length == 1 %>
  <script>

    function autoRefresh1(){
      window.location.reload();
    }
    setInterval('autoRefresh1()', 5000);
  </script>
<% end %>
