<% @title = "Expense Breakdown" %>
<div class="blue-back text-center">
  <h4 class="lato white heavy"><%= @expense.title %></h4>
</div>
<div class="mobile-container text-center">
  <h4 class="lato heavy"><%= @expense.created_at.strftime("%b %d, %Y") %></h4>
</div>
<% unless @expense.location.nil? %>
  <div class="mobile-container text-center">
    <h4 class="lato black heavy">At <%= @expense.location %></h4>
  </div>
<% end %>
<% unless @expense.description == "" %>
  <div class="mobile-container text-center">
    <h5 class="lato">"<%= @expense.description %>"</h5>
  </div>
<% end %>

<div class="mobile-container text-left">
  <h4 class="lato heavy"><%= @expense.user.first_name %> paid </h4>
</div>
<div class="mobile-container text-left">
  <h4 class="lato heavy">The bill was £ <%= (@expense.amount_cents.to_f / 100) %></h4>
</div>
<div class="horiz-pad">
  <div class="spacing-bar" ></div>
</div>

<% @expense.splits.each do |split| %>
  <div class="list-item-tall">
    <div class="profile-img-container">
      <%= image_tag split.user.profile_picture_url, class: "avatar-list" %>
    </div>
    <div class="divider">
      <div class="list-item-divider-content">
        <p class="list-item-text"><strong><%= split.user.first_name %> <%= split.user.last_name %></strong></p>
        <p class="list-item-text" ><%= @expense.user.first_name %> lent him: £ <%= (split.amount_cents.to_f / 100).to_f %></p>
      </div>
    </div>
  </div>
<% end %>

