<% @title = "Expense Breakdown" %>
<div class="blue-back text-center">
  <h4 class="lato white heavy"><%= @expense.title %></h4>
</div>
<div class="mobile-container text-center">
  <h4 class="lato heavy"><%= @expense.created_at.strftime("%b %d, %Y") %></h4>
</div>
<% unless @expense.location.nil? %>
  <div class="mobile-container text-center">
    <h4 class="lato black heavy">At <%= @expense.location %></h4>
  </div>
<% end %>
<% unless @expense.description == "" %>
  <div class="mobile-container text-center">
    <h5 class="lato">"<%= @expense.description %>"</h5>
  </div>
<% end %>

<div class="mobile-container text-left">
  <h4 class="lato heavy"><%= @expense.user.first_name %> paid </h4>
</div>
<div class="mobile-container text-left">
  <h4 class="lato heavy">The bill was £ <%= sprintf("%.2f", (@expense.amount_cents.to_f / 100)) %></h4>
</div>
<div class="horiz-pad">
  <div class="spacing-bar" ></div>
</div>

<% @expense.splits.each do |split| %>
  <div class="list-item-tall">
    <div class="profile-img-container">
      <%= image_tag split.user.profile_picture_url, class: "avatar-list" %>
    </div>
    <div class="divider">
      <div class="list-item-divider-content">
        <p class="list-item-text"><strong><%= split.user.first_name %> <%= split.user.last_name %></strong></p>
        <p class="list-item-text" ><%= @expense.user.first_name %> lent him: £ <%= sprintf("%.2f", (split.amount_cents.to_f / 100)) %></p>
      </div>
    </div>
  </div>
<% end %>
<div class="fixed-btn-section">
  <%= link_to extension_group_path(group_id: @group.id, user_id: @user.id ) do %>
    <button class="send-btn"><div class="send-inner"><img src="https://png.icons8.com/paper-plane/ios11/30/ffffff" class="paper-plane rotated" >Back to <%= @group.name %></div></button>
  <% end %>
</div>
